/* img{
            filter: blur(10px);
        } */

.img1 {
    filter: brightness(222%);
}

.img2 {
    filter:drop-shadow(100px 100px 10px rgb(88, 85, 85));
}

.img3 {
    filter: grayscale(80%);
}